#page {
	position: relative;
	top: 0;
	width: 100%;
	border: none;
	height: 487px;
}
#header {
	border: none;
	width: 100%;
	height: 30px;
	text-align: right;
	font-family: Arial;
}
#Josh {
	padding-left: 15px;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
	padding-right: 15px;
	text-align: right;
	font-size: 13px;
	color: #222;
	background: #fff;
	font-family: Arial;
}
#Gmail {
	padding-left: 15px;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
	padding-right: 15px;
	text-align: right;
	font-size: 13px;
	color: #222;
	background: #fff;
	font-family: Arial;
}
#Images {
	padding-left: 15px;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
	display: inline-block;
	padding-right: 15px;
	text-align: right;
	font-size: 13px;
	color: #222;
	background: #fff;
	font-family: Arial;
}
#logo {
	border: none;
	width: 272px;
	height: 92px;
	padding-top: 109px;
	margin-top: 100px;
	margin-left: 480px;
	margin-bottom: 30px;
}
img {
	height: 92px;
	width:  272px;
}
#search {
	width: 586px;
	height: 40px;
	border: 1px solid #d9d9d9;
	border-radius: 1px
	margin-top: 20px;
	position: relative;
	margin-left: 330px;
}
input {
	width: 525px;
	height: 26px;
	margin: 6px 9px 6px 9px;
	border: none;
	outline: none;
	font-size: 16px;
	font-family: Arial;
	line-height: 26px;
	display: inline;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
}
#buttons {
	width: 571px;
	height: 58px;
	border: none;
	margin-left: 470px;
	margin-top: 20px;
	position: relative;
	display: block;
	font-family: Arial;
	font-size: small;
}
#google {
	margin: 11px 4px 11px 4px;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	padding: 0px 16px 0px 16px;
	width: auto;
	height: 34px;
	position: relative;
	display: inline-block;
	background-color: #f2f2f2;
}
#lucky {
	position: relative;
	width: auto;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	height: 34px;
	padding: 0px 16px 0px 16px;
	margin: 11px 4px 11px 4px;
	display: inline-block;
	background-color: #f2f2f2;
}
#footer {
	height: 40px;
	width: 100%;
	border: none;
	margin-top: 90px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	padding-left: 27px;
	position: absolute;
	display: inline-block;
}
#Advertising {
	padding-left: 27px;
	margin: 0px;
	font-size: small;
	display: inline-block;
	font-family: Arial;
}
#Business {
	padding-left: 27px;
	margin: 0px;
	font-size: small;
	display: inline-block;
	font-family: Arial;
}
#About {
	padding-left: 27px;
	margin: 0px;
	font-size: small;
	display: inline-block;
	font-family: Arial;
}
#Privacy {
	padding-left: 27px;
	margin: 0px;
	font-size: small;
	display: inline-block;
	font-family: Arial;
	text-align: right;
}
#Terms {
	padding-left: 27px;
	margin: 0px;
	font-size: small;
	display: inline-block;
	font-family: Arial;
	text-align: right;
}
#Settings {
	padding-left: 27px;
	margin: 0px;
	font-size: small;
	display: inline-block;
	font-family: Arial;
	text-align: right;
	margin-top: 10px;
}